#review {
  margin-bottom: 50px;
}
#review .review-box {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 0 20px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
#review .review-box .box {
  width: 200px;
  text-align: center;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  gap: 15px;
  flex: 1 1 auto;
  max-width: 250px;
  border-radius: 5px;
}
#review .review-box .box .stars {
  font-size: 25px;
  background: linear-gradient(to right, gold, rgb(181, 181, 181) 0%);
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#review .review-box .box .stars[data-rating="0"] {
  background: linear-gradient(to right, gold 0%, rgb(181, 181, 181) 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#review .review-box .box .stars[data-rating="1"] {
  background: linear-gradient(to right, gold 20%, rgb(181, 181, 181) 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#review .review-box .box .stars[data-rating="2"] {
  background: linear-gradient(to right, gold 40%, rgb(181, 181, 181) 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#review .review-box .box .stars[data-rating="3"] {
  background: linear-gradient(to right, gold 60%, rgb(181, 181, 181) 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#review .review-box .box .stars[data-rating="4"] {
  background: linear-gradient(to right, gold 80%, rgb(181, 181, 181) 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#review .review-box .box .stars[data-rating="5"] {
  background: linear-gradient(to right, gold 100%, rgb(181, 181, 181) 0%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#review .review-box .box h3 {
  text-transform: capitalize;
  font-size: 14px;
}
#review .review-box .box p {
  font-size: 14px;
}
#review .review-box .box p small {
  color: #042cc3;
}
#review .review-box .box p i {
  text-decoration: underline;
}
#review .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}
#review .btn-box button {
  width: 180px;
  height: 50px;
  background: transparent;
  border-radius: 25px;
  font-size: 16px;
  color: #042cc3;
  text-transform: uppercase;
  margin-top: 20px;
  margin: 0;
  border: 1px solid #042cc3;
}
#review .btn-box button:nth-child(2) {
  background: #042cc3;
  color: white;
}

@media only screen and (max-width: 400px) {
  #review .review-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #review .review-box .box {
    width: 100%;
    max-width: 300px;
  }
  #review .btn-box {
    flex-direction: column;
    justify-content: center;
  }
  #review .btn-box button {
    width: 80%;
  }
}/*# sourceMappingURL=review.css.map */